<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Trị</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h2>Chọn mục để quản lý:</h2>
        <ul>
          <li><a href="/admin/taikhoan">Tài Khoản</a></li>
          <li><a href="/admin/khachhang">Khách Hàng</a></li>
          <li><a href="/admin/nhanvien">Nhân Viên</a></li>
          <li><a href="/admin/loaisanpham">Loại Nhóm Sản Phẩm</a></li>
          <li><a href="/admin/sanpham">Sản Phẩm</a></li>
          <li><a href="/admin/lichhen">Lịch Hẹn</a></li>
          <li><a href="/admin/hoadon">Hóa Đơn</a></li>
          <li><a href="/admin/chitiethoadon">Chi Tiết Hóa Đơn</a></li>
          <li><a href="/admin/danhgia">Đánh Giá</a></li>
        </ul>
      </div>
      <div class="content">
        <h1>Sửa Thông Tin Nhân Viên</h1>

        <form
          action="/nhanvien/suanhanvien/<%= nhanvien.nhanvien_id %>"
          method="POST"
        >
          <label for="hotennhanvien">Họ và Tên:</label>
          <input
            type="text"
            name="hotennhanvien"
            value="<%= nhanvien.hotennhanvien %>"
            required
          />

          <label for="email">Email:</label>
          <input
            type="email"
            name="email"
            value="<%= nhanvien.email %>"
            required
          />

          <label for="sodienthoai">Số Điện Thoại:</label>
          <input
            type="text"
            name="sodienthoai"
            value="<%= nhanvien.sodienthoai %>"
            required
          />

          <button type="submit">Cập Nhật</button>
        </form>

        <a href="/nhanvien">Quay lại danh sách khách hàng</a>
      </div>
    </div>
  </body>
</html>
