<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Trị</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <h2>Chọn mục để quản lý:</h2>
        <ul>
          <li><a href="/admin/taikhoan">Tài Khoản</a></li>
          <li><a href="/admin/khachhang">Khách Hàng</a></li>
          <li><a href="/admin/nhanvien">Nhân Viên</a></li>
          <li><a href="/admin/loaisanpham">Loại Nhóm Sản Phẩm</a></li>
          <li><a href="/admin/sanpham">Sản Phẩm</a></li>
          <li><a href="/admin/lichhen">Lịch Hẹn</a></li>
          <li><a href="/admin/hoadon">Hóa Đơn</a></li>
          <li><a href="/admin/chitiethoadon">Chi Tiết Hóa Đơn</a></li>
          <li><a href="/admin/danhgia">Đánh Giá</a></li>
        </ul>
      </div>
      <div class="content">
        <!-- nội dung -->
        <h1>Thêm Đánh Giá</h1>
        <form action="/admin/danhgia/themdanhgia" method="POST">
          <label for="khachhang_id">Khách Hàng ID:</label>
          <input type="number" id="khachhang_id" name="khachhang_id" required />
          <label for="dichvu_id">Dịch Vụ ID:</label>
          <input type="number" id="dichvu_id" name="dichvu_id" />
          <label for="sanpham_id">Sản Phẩm ID:</label>
          <input type="number" id="sanpham_id" name="sanpham_id" />
          <label for="hoadon_id">Hóa Đơn ID:</label>
          <input type="number" id="hoadon_id" name="hoadon_id" required />
          <label for="diemdanhgia">Điểm Đánh Giá:</label>
          <input
            type="number"
            id="diemdanhgia"
            name="diemdanhgia"
            min="1"
            max="5"
            required
          />
          <label for="binhluan">Bình Luận:</label>
          <textarea id="binhluan" name="binhluan"></textarea>
          <button type="submit">Thêm Đánh Giá</button>
        </form>
        <a href="/admin/danhgia">Trở về danh sách Đánh Giá</a>
      </div>
    </div>
  </body>
</html>
